---
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---

<MainLayout title="Favoritos">
    <Title>Favorites</Title>

    <FavoritePokemons client:only="solid-js"/>


</MainLayout>